.Password {
  text-align: center;
}

.Password-field {
  border-radius: 5px;
  margin: 0.5rem auto;
  color: #7c0b2b;
  font-size: 3rem;
  background-color: #f7ece1;
  border: 5px #f7ece1 solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .Password-field {
    min-height: 2.5rem;
    margin: 2rem 0;
    font-size: 1rem;
    border: 4px #f7ece1 solid;
  }

  .Password {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .Password-field {
    min-height: 1.5rem;
    font-size: 0.5rem;
    border: 3px #f7ece1 solid;
  }

  .Password {
    font-size: 0.8rem;
  }
}
